{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'coloring/vendors/hammer/hammer.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/hammer/jquery.hammer.js' %}"></script>

	<style type="text/css">
		#menu {
			background-color: #f1f1f1;
			width: 310px;
			height: 100%;
			top: 0;
			right: 0;
			z-index: 2;
			position: fixed;
			padding: 5px;
		}

		canvas#colorPalette {
			height: 500px;
			width: 100%;
			align-self: center
		}

		canvas#myCanvas {
			margin: auto;
			border: 2px solid black;
			padding: 2px;
			height: 750px;
			width: 750px;
		}

		button {
			width: 100px;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		paper.install(window);
		var myCanvas, colorPalette;
		var toolCanvas;
		var h;
		var curColor = new Color({
			hue: 0,
			saturation: 0.5,
			lightness: 0.5
		});
		var colConfirm = true;

		// color palette
		var cp = {
			history: [curColor], // black selected by default
			options: [],
		}
		var toFill = null;

		window.onload = function() {
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// coloring page
			myCanvas = new PaperScope();
			paper.setup('myCanvas');

			function myGradientInteraction() {
				toolCanvas = new Tool();

				var vOrigin;
				var path;
				toolCanvas.minDistance = 5;
				toolCanvas.onMouseDown = function(e) {
					if (!colConfirm) cp.history.push(curColor), colConfirm = true;
					path = new Path();
					path.add(e.point);
				}

				toolCanvas.onMouseDrag = function(e) {
					path.add(e.point);
				}

				toolCanvas.onMouseUp = function(e) {
					if (path.length < 5) {
						var hit = mandala.item.hitTest(path.segments[0].point, {
							tolerance: 5,
							fill: true
						});
						if (hit) hit.item.fillColor = cp.history[cp.history.length - 1];
					}
					else {
						for (var i = 0; i < path.length / 5; i++) {
							var hit = mandala.item.hitTest(path.getPointAt(i * 5), {
								tolerance: 5,
								fill: true
							});
							if (hit) {
								hit.item.fillColor = {
									gradient: {
										stops: [cp.history[cp.history.length - 2], cp.history[cp.history.length - 1]]
									},
									origin: path.getPointAt(0),
									destination: path.getPointAt(path.length)
								};
							}
						}
					}
				}
			}
				
			function myCustomInteraction() {
				toolCanvas = new Tool();
				
				var recCol = new Group();
				recCol.addChild(new Path.Rectangle({
					point: [0, 0],
					size: [106, 158],
					strokeColor: 'black',
					fillColor: '#e6e6e6',
					shadowColor: '#000',
					shadowBlur: 5,
					shadowOffset: new Point(5, 5)
				}));

				for (var x = 0; x < 2; x++) {
					for (var y = 0; y < 3; y++) {
						recCol.addChild(new Path.Circle({
							center: [27 + x * 52, 27 + y * 51],
							radius: 24,
							strokeColor: 'black'
						}));
					}
				}
				recCol.visible = false;

				h = new Hammer(document.getElementById("myCanvas"));
				h.enable = true;
				h.on('tap', function(e) {
					if (recCol.visible) recCol.visible = false;
					else {
						if (!colConfirm) {
							cp.history.push(curColor), colConfirm = true;
						}
						var p = new Point(e.changedPointers[0].layerX, e.changedPointers[0].layerY);
						var hit = mandala.item.hitTest(p, {
							tolerance: 1,
							fill: true
						});
						if (hit) hit.item.fillColor = cp.history[cp.history.length - 1];
					}
				});

				h.on('press', function(e) {
					if (recCol.visible) recCol.visible = false;
					else {
						if (!colConfirm) {
							cp.history.push(curColor), colConfirm = true;
						}
						var p = new Point(e.changedPointers[0].layerX, e.changedPointers[0].layerY);
						toFill = mandala.item.hitTest(p, {
							tolerance: 1,
							fill: true
						});
						recCol.visible = true;
						recCol.bringToFront();
						recCol.position.x = p.x > paper.project.view.center.x ? p.x - recCol.bounds.width : p.x + recCol.bounds.width;
						recCol.position.y = p.y > paper.project.view.center.y ? p.y - recCol.bounds.height : p.y + recCol.bounds.height;

						for (var i = 1; i < recCol.children.length; i++) {
							recCol.children[i].fillColor = {
								hue: Math.random() * 360,
								saturation: Math.random(),
								lightness: Math.random()
							};
						}
						h.enable = false;
					}
				});

				toolCanvas.onMouseDown = function(e) {
					if (recCol.visible == true) {
						var hit = recCol.hitTestAll(e.point, {
							tolerance: 1,
							fill: true
						});
						if (hit && toFill) {
							for (var i = 0; i < hit.length; i++) {
								if (!hit[i].item.hasShadow()) {
									toFill.item.fillColor = hit[i].item.fillColor;
									curColor = hit[i].item.fillColor;
									cp.history.push(hit[i].item.fillColor);
									colorPalette.project._children[0].children["showCol"].fillColor = hit[i].item.fillColor;
									var col = [hit[i].item.fillColor.hue, hit[i].item.fillColor.saturation, hit[i].item.fillColor.lightness];
									colorPalette.project._children[0].children["slGrid"].fillColor.gradient.stops[0].color.hue = col[0];
									colorPalette.project._children[0].children["slGrid"].fillColor.gradient.stops[1].color.hue = col[0];
									colorPalette.project._children[0].children["colMarker"].strokeColor = {
										hue: (col[0] + 180) % 360,
										saturation: (col[1] + 0.5) % 1,
										lightness: (col[2] + 0.5) % 1
									};
									colorPalette.project._children[0].children["colMarker"].position = new Point(col[1] * colorPalette.project._children[0].children["slGrid"].bounds.width + colorPalette.project._children[0].children["slGrid"].bounds.x, col[2] * colorPalette.project._children[0].children["slGrid"].bounds.height + colorPalette.project._children[0].children["slGrid"].bounds.y);
								}
							}
						}
						h.enable = true;
						toFill = null;
					}
				};
			}

			// To see your myGradientInteraction version visit: 
			// http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: 
			// http://<your url>:8000/coloring/

			paper.project.importSVG(mandala.filePath, function(item) {
				item._children["design-freepik"].bounds.size = new Size([750, 750]);
				item._children["design-freepik"].bounds.point = new Point([4, 4]);
				
				mandala.item = item._children["design-freepik"].clone();
				paper.project.insertLayer(0, mandala.item);

				if (window.location.href.indexOf("gradient") > -1) {
					myGradientInteraction();
				} else {
					myCustomInteraction();
				}
			});

			////////////////////////////////////////////////////
			colorPalette = new PaperScope();
			paper.setup('colorPalette');

			var pt = paper.view.size.width / 2;
			var colorBar = new Path.Rectangle({
				point: [2, 2],
				size: [paper.project.view.size.width - 2, (paper.project.view.size.width - 2) * 0.1]
			});
			colorBar.fillColor = {
				gradient: {
					stops: [
						['#bf4040'],
						['#40bf40'],
						['#4040bf'],
						['#bf4040']
					]
				},
				origin: colorBar.bounds.leftCenter,
				destination: colorBar.bounds.rightCenter
			};

			var slGrid = new Path.Rectangle({
				point: [colorBar.bounds.x, colorBar.bounds.bottom + 2],
				size: [colorBar.bounds.width, colorBar.bounds.width],
				strokeColor: 'black',
				blendMode: 'overlay',
				name: "slGrid"
			});
			slGrid.fillColor = {
				gradient: {
					stops: [
						[new Color({
							hue: curColor.hue,
							saturation: 0,
							lightness: 0.5
						})],
						[new Color({
							hue: curColor.hue,
							saturation: 1,
							lightness: 0.5
						})]
					]
				},
				origin: slGrid.bounds.leftCenter,
				destination: slGrid.bounds.rightCenter
			};

			var o = new Path.Rectangle(slGrid.point, slGrid.size);
			o.fillColor = {
				gradient: {
					stops: [
						[new Color({
							hue: curColor.hue,
							saturation: 0.5,
							lightness: 0
						})],
						[new Color({
							hue: curColor.hue,
							saturation: 0.5,
							lightness: 1
						})]
					]
				},
				origin: o.bounds.topCenter,
				destination: o.bounds.bottomCenter
			};
			o.insertBelow(slGrid);

			var showCol = new Path.Rectangle({
				point: [colorBar.bounds.x, slGrid.bounds.bottom + 2],
				size: [(colorBar.bounds.width - 2) / 2, (colorBar.bounds.width - 2) / 2],
				strokeColor: 'black',
				fillColor: curColor,
				name: "showCol"
			});

			var tempCol = new Path.Rectangle({
				point: [showCol.bounds.left, showCol.bounds.top],
				size: [showCol.bounds.width, showCol.bounds.height / 2],
				fillColor: curColor,
				visible: false
			});

			var colMarker = new Path.Circle({
				center: [slGrid.bounds.centerX, slGrid.bounds.centerY],
				radius: 4,
				strokeWidth: 2,
				strokeColor: {
					hue: (curColor.hue + 180) % 360,
					saturation: (curColor.saturation + 0.5) % 1,
					lightness: (curColor.lightness + 0.5) % 1
				},
				name: "colMarker"
			});

			colorBar.onMouseEnter = function(e) {
				tempCol.visible = true;
				tempCol.fillColor = {
					hue: (e.point.x - colorBar.bounds.x) / colorBar.bounds.width * 360,
					saturation: 0.5,
					lightness: 0.5
				};
			};

			colorBar.onMouseMove = function(e) {
				tempCol.fillColor.hue = (e.point.x - colorBar.bounds.x) / colorBar.bounds.width * 360;
			};

			colorBar.onMouseLeave = function() {
				if (tempCol.visible) tempCol.visible = false;
			};

			colorBar.onMouseDown = function() {
				if (!tempCol.visible) tempCol.visible = true;
			};

			colorBar.onMouseUp = function(e) {
				curColor = {
					hue: (e.point.x - colorBar.bounds.x) / colorBar.bounds.width * 360,
					saturation: 0.5,
					lightness: 0.5
				};
				colMarker.strokeColor = {
					hue: (curColor.hue + 180) % 360,
					saturation: (curColor.saturation + 0.5) % 1,
					lightness: (curColor.lightness + 0.5) % 1
				};
				colMarker.position = slGrid.bounds.center;
				colConfirm = false;
				showCol.fillColor = curColor;
				tempCol.visible = false;
				slGrid.fillColor.gradient.stops[0].color.hue = curColor.hue;
				slGrid.fillColor.gradient.stops[1].color.hue = curColor.hue;
			};

			slGrid.onMouseEnter = function(e) {
				tempCol.visible = true;
				tempCol.fillColor.hue = curColor.hue;
				tempCol.fillColor.saturation = (e.point.x - slGrid.bounds.x) / slGrid.bounds.width;
				tempCol.fillColor.lightness = (e.point.y - slGrid.bounds.y) / slGrid.bounds.height;
			};

			slGrid.onMouseMove = function(e) {
				tempCol.fillColor.saturation = (e.point.x - slGrid.bounds.x) / slGrid.bounds.width;
				tempCol.fillColor.lightness = (e.point.y - slGrid.bounds.y) / slGrid.bounds.height;
			};

			slGrid.onMouseLeave = function() {
				if (tempCol.visible) tempCol.visible = false;
			};

			slGrid.onMouseDown = function() {
				if (!tempCol.visible) tempCol.visible = true;
			};

			slGrid.onMouseUp = function(e) {
				curColor.saturation = (e.point.x - slGrid.bounds.x) / slGrid.bounds.width;
				curColor.lightness = (e.point.y - slGrid.bounds.y) / slGrid.bounds.height;
				colMarker.strokeColor = {
					hue: (curColor.hue + 180) % 360,
					saturation: (curColor.saturation + 0.5) % 1,
					lightness: (curColor.lightness + 0.5) % 1
				};
				colMarker.position = e.point;
				colConfirm = false;
				showCol.fillColor = curColor;
				tempCol.visible = false;
			};
			
			document.getElementById("nButton").onclick = function() {
				toolCanvas.remove();
				myCustomInteraction();
			};
			document.getElementById("gButton").onclick = function() {
				toolCanvas.remove();
				h.destroy();
				myGradientInteraction();
			};
		}
	</script>
</head>

<body>
	<canvas id="myCanvas"></canvas>
	<div id="menu">
		<canvas id="colorPalette" resize="false"></canvas>
		<div style="display: flex; justify-content: space-evenly; margin: 10px">
			<button id='nButton'>Normal</button>
			<button id='gButton'>Gradient</button>
		</div>
	</div>
	
	<script>
		
</script>
	
</body>

</html>